* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo {
    width: 7%;
}

.header {
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../../Images/cirujia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: #395988;
}

img {
    border-radius: 10px;
    width: 350px;
    margin: 6px;
}

h2 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.informacion section {
    padding: 10px;
    margin: 10px;
}

.informacion section {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}

.informacion article h2 {
    text-align: left;
}

.footer {

    color: #f8f9fa;
    background: radial-gradient(79.75% 134.25% at 95.71% 100%, #000b6b 0, #0057b8 100%);
}

.footer-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.footer-section p li h2 {
    font-size: small;
}

@media(max-width: 800px) {
    #logo {
        width: 15%;
    }

}